body {
  padding: 0;
  margin: 0;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 11px;
}

a {
  font-family: 'Lucida Grande', sans-serif;
}

table {
  border-spacing: 0;
}

.resizer {
  position: absolute;
  top: 0;
  bottom: 30px;
  width: 5px;
  cursor: col-resize;
  z-index: 5;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#header table {
  table-layout: fixed;
}

#header table th {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(236, 236, 236)), to(rgb(217, 217, 217)));
  background-repeat: repeat-x;
  border-bottom: 1px solid rgb(64%, 64%, 64%);
  border-right: 1px solid rgb(179, 179, 179);
  vertical-align: middle;
  text-align: left;
  font-weight: normal;
  height: 22px;
  padding: 0 4px;
  cursor: pointer;
  -webkit-user-select: none;
}

#header table th.desc div {
  background-image: url(/images/tree_up.png);
  background-repeat: no-repeat;
  background-position: 100%;
}

#header table th.asc div {
  background-image: url(/images/tree_down.png);
  background-repeat: no-repeat;
  background-position: 100%;
}

#header table th:active {
  background: #FFF;
}

#header table th.corner {
  cursor: default;
}

#header table th.corner:active {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(236, 236, 236)), to(rgb(217, 217, 217)));
  background-repeat: repeat-x;
}

#header table th div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#content {
  position: absolute;
  top: 23px;
  bottom: 23px;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: overlay;
}

#content table {
  table-layout: fixed;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(0.5, rgba(0, 0, 0, 0)), color-stop(0.5, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.05)));
  -webkit-background-size: 1px 46px;
}

#content table td {
  border-right: 1px solid rgb(179, 179, 179);
  border-spacing: 0;
  height: 21px;
  vertical-align: middle;
  padding: 1px 4px;
}

#content table td div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#content table td div.domain {
  text-decoration: underline;
}

#content table td div.size {
  text-align: right;
}

#content table td div.green {
  color: green;
}

#content table td div.link {
  color: blue;
}

#content table tr.filler {
  display: table-row !important;
}

#content table tr.cookie-row:hover {
  background: #E3E3E3;
}

#content table tr.filler td {
  height: 100%;
}

#footer {
  font-size: 12px;
  color: #FFF;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 23px;
  background-color: rgb(101, 111, 130);
}

#footer #cookies-count-container {
  margin-top: 3px;
  margin-left: 4px;
}

#modal-view {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

#modal {
  width: 100%;
  height: 100%;
  z-index: 11;
}

#cookie-form-view {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: 12;
  width: 420px;
  border-left: 1px solid rgb(64%, 64%, 64%);
  background: rgb(232, 232, 232);
  box-shadow: -1px 0 3px rgba(0,0,0,0.08);
  overflow-x: hidden;
  overflow-y: scroll;
}

#cookie-form-view-header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(162, 177, 207)), to(rgb(120, 138, 177)));
  text-shadow: rgba(0, 0, 0, 0.33) 1px 1px 0;
  padding: 10px 0px 10px 10px;
  color: #FFF;
  font-size: 14px;
}

#cookie-form-body {
  padding: 10px;
}

#cookie-form {
  width: 100%;
  height: 100%;
  z-index: 13;
}

#new-cookie {
  margin-left: 4px;
  margin-top: 5px;
  color: #FFF;
  cursor: pointer;
  font-size: 13px;
}

#new-cookie:hover {
  text-decoration: underline;
}

#context-menu-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

#context-menu-body {
  position: absolute;
  z-index: 99;
  font-family: 'Lucida Grande', 'Helvetica', 'sans-serif';
  border: 1px solid rgba(196, 196, 196, 0.9);
  border-top: 1px solid rgba(196, 196, 196, 0.5);
  border-bottom: 1px solid rgba(150, 150, 150, 0.9);
  padding: 4px 0 4px 0;
  border-radius: 4px;
  background-color: white;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.context-menu-item {
  cursor: default;
  line-height: 13px;
  font-size: 14px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding: 1px 15px 3px 15px;
  margin: 0 0 0 0;
  white-space: nowrap;
}

.context-menu-item:hover {
  border-top: 1px solid rgb(56, 121, 217);
  border-bottom: 1px solid rgb(56, 121, 217);
  background-color: rgb(56, 121, 217);
  color: white;
}

.context-menu-item-separator {
  margin: 5px 1px 6px 1px;
  border-bottom: 1px solid rgb(227, 227, 227);
}

:focus {
  outline-width: 0;
}

.label {
  text-align: right;
  vertical-align: top;
  padding: 4px;
}

.data {
  vertical-align: top;
}

.data input[type="text"] {
  width: 310px;
}

.data input[type="text"]:focus {
  outline-width: 5px;
}

.data textarea {
  resize: none;
  width: 310px;
  height: 80px;
}

.data textarea:focus {
  outline-width: 5px;
}

.data .year {
  width: 45px;
}

.data .month {
  width: 35px;
}

.data .day {
  width: 35px;
}

.data .hours, .minutes, .seconds {
  width: 35px;
}

.data.checkboxes {
  text-align: center;
  font-weight: bold;
}

.data.checkboxes span {
  margin-right: 8px;
}

.data.buttons {
  text-align: center;
}
